<template>
  <div class="p-8 lg:p-24 lg:pt-16">
      <div class="flex items-center justify-between">
        <div class="flex items-center" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="500">
            <img src="@/assets/img/profile.jpg" class="h-16 w-16 p-1 rounded-full">
            <h2 class="text-white font-main font-bold text-xl ml-4">Kilian PICHARD</h2>
        </div>
         <a class="text-second font-main text-xl ml-4 hover:text-white ease-in-out duration-200 hidden lg:inline" href="mailto:pro@kilianp.fr" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="500">pro@kilianp.fr</a>
      </div>

     <div class="mt-12 lg:mt-48 flex flex-col lg:flex-row justify-between">
       <h2 class="text-6xl font-main text-white font-bold relative w-6/12 lg:w-auto">I'm <span class="text-purple">Kilian</span> <span class="emoji absolute top-16 -mt-2 -right-20 lg:-right-20 lg:top-0">👋</span></h2>
         <div class="lg:mr-12 mt-12 lg:mt-0">
             <h2 class="text-4xl font-main text-white font-semibold">I build Websites and Apps, for all<br> need</h2>
             <h3 class="text-xl text-second mt-2 font-extralight">Freelance <span class="font-bold">FullStack Developper</span> in Paris.</h3>
         </div>
     </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.emoji{
  animation: rotate 2s ease-in-out;
  transform-origin: bottom right;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
</style>
