<template>
  <div>
    <div class="main">
      <Header></Header>
      <div class="w-screen p-6 lg:p-20">
        <div class="glass w-full p-2 lg:p-12 pb-4 mb-24">
          <h2
            class="text-3xl text-center lg:text-left lg:text-5xl text-white font-bold font-main m-1"
          >
            My Main Stack
          </h2>

          <div
            class="flex flex-wrap lg:flex-nowrap items-center justify-between lg:p-12 m-2 pt-8"
          >
            <div
              class="flex w-4/12 my-4 lg:my-0 lg:w-24 flex-col items-center justify-center"
              v-for="stack in stacks"
              :key="stack"
            >
              <i
                :class="stack.icon"
                class="text-5xl align-middle text-white"
              ></i>
              <p class="text-white mt-2 text-xs">{{ stack.name }}</p>
            </div>
          </div>

          <h2
            class="text-3xl text-center lg:text-left text-white font-semibold font-main m-1 mt-12"
          >
            Other Stack I master
          </h2>

          <div
            class="flex flex-wrap lg:flex-nowrap items-center justify-between lg:p-12 m-2 pt-8"
          >
            <div
              class="flex w-4/12 my-4 lg:my-0 lg:w-24 flex-col items-center justify-center"
              v-for="stack in otherStack"
              :key="stack"
            >
              <i
                :class="stack.icon"
                class="text-5xl align-middle text-white"
              ></i>
              <p class="text-white mt-2 text-xs">{{ stack.name }}</p>
            </div>
          </div>

          <h2
            class="text-3xl text-center lg:text-left text-white font-semibold font-main m-1 mt-12"
          >
            My ToolBox
          </h2>

          <div
            class="flex flex-wrap lg:flex-nowrap items-center justify-between lg:p-12 m-2 pt-8"
          >
            <div
              class="flex w-4/12 my-4 lg:my-0 lg:w-24 flex-col items-center justify-center"
              v-for="stack in toolbox"
              :key="stack"
            >
              <i
                :class="stack.icon"
                class="text-5xl align-middle text-white"
              ></i>
              <p class="text-white mt-2 text-xs">{{ stack.name }}</p>
            </div>
          </div>
        </div>
        <h2
          class="text-5xl text-center lg:text-left text-white font-bold font-main m-1 mb-8"
        >
          My Projects
        </h2>
        <div
          class="glass projects w-full p-4 lg:p-12 pb-4 lg:mb-24 flex flex-col"
        >
          <div class="flex flex-col lg:flex-row items-center">
            <div
              class="w-12/12 lg:w-7/12"
              data-aos="slide-up"
              data-aos-offset="20"
              data-aos-easing="ease-in-sine"
              data-aos-duration="300"
            >
              <img
                src="@/assets/img/prams-app.png"
                data-aos="zoom-out-up"
                data-aos-offset="-200"
                data-aos-easing="ease-in-sine"
                data-aos-duration="500"
              />
            </div>
            <div
              class="w-12/12 lg:w-5/12 flex flex-col items-center justify-center"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                EasyBand
              </h2>
              <p class="font-main text-white text-lg text-justify my-8">
                EasyBand is a react native application that simplifies the
                management of a music group. It features a calendar of upcoming
                concerts, setlists, and a library of music. The app also
                calculates expenses, such as mileage, and includes a feature for
                conducting polls to gauge member participation in concerts.
                Additionally, EasyBand has a live feature for displaying lyrics
                and chords during performances. This all-in-one application is a
                valuable asset for any music group looking to efficiently manage
                their events and repertoire
              </p>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-react-original"></i>
              </div>
            </div>
          </div>

          <div class="divider w-full h-1 border-b-white"></div>
          <div class="flex flex-col-reverse lg:flex-row items-center">
            <div
              class="w-12/12 lg:w-6/12 flex flex-col items-center justify-center lg:pl-24"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                GÉO CARBU
              </h2>
              <p class="font-main text-white text-lg text-justify my-8">
                The app allows users to find the cheapest gas stations in their
                area by using their current location. The app displays a list of
                nearby gas stations and their corresponding prices, allowing
                users to easily compare prices and choose the cheapest option.
                The user interface is designed using Swift UI, providing a
                modern and intuitive experience for the user. Overall, the app
                helps users save money on gas by finding the best prices in
                their area.
              </p>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-swift-plain"></i>
              </div>
              <a
                href="https://gitlab.com/kilianp/geocarbu"
                target="_blank"
                class="text-second font-main text-xl hover:text-white ease-in-out duration-200 m-4 border border-main"
                ><i class="devicon-gitlab-plain mr-4"></i>GO TO GITLAB REPO</a
              >
            </div>
            <div class="w-12/12 lg:w-6/12">
              <img
                src="@/assets/img/geoCarbu.png"
                data-aos="zoom-out-up"
                data-aos-offset="-200"
                data-aos-easing="ease-in-sine"
                data-aos-duration="500"
              />
            </div>
          </div>
          <div class="divider w-full h-1 border-b-white"></div>

          <div class="flex flex-col lg:flex-row items-center">
            <div class="w-12/12 lg:w-7/12">
              <img
                src="@/assets/img/militaria.png"
                data-aos="zoom-out-up"
                data-aos-offset="-200"
                data-aos-easing="ease-in-sine"
                data-aos-duration="500"
              />
            </div>
            <div
              class="w-12/12 lg:w-5/12 flex flex-col items-center justify-center"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                MILITARIA DU BOCAGE
              </h2>
              <p class="font-main text-white text-lg text-justify my-8">
                I completed a website redesign for the company Militaria du
                Bocage, transitioning from React to WooCommerce. My
                responsibilities included the entire implementation of the
                website and secure payment systems, and migrating the database.
                This project allowed me to showcase my e-commerce development
                and website customization skills. The redesign was a challenging
                but rewarding experience, and I was able to apply my web
                development expertise to a real-world project.
              </p>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-wordpress-plain"></i>
              </div>
              <a
                href="https://militaria-du-bocage.fr/"
                target="_blank"
                class="text-second font-main text-xl hover:text-white ease-in-out duration-200 m-4 border border-main"
                ><i class="devicon-safari-line mr-4"></i>GO TO WEBSITE</a
              >
            </div>
          </div>

          <div class="divider w-full h-1 border-b-white"></div>
          <div class="flex flex-col-reverse lg:flex-row items-center">
            <div
              class="w-12/12 lg:w-6/12 flex flex-col items-center justify-center lg:pl-24"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                LA CABANE D'ELSANDRE
              </h2>
              <p class="font-main text-white text-lg text-justify my-8">
                I completed a website redesign for the company La Cabane
                d'elsandre, transitioning from WIX to WooCommerce. I coded the
                entire website and implemented features such as secure payment
                systems and a successful database migration. This project
                allowed me to showcase my e-commerce development skills and was
                a challenging but rewarding experience. La Cabane d'elsandre
                specializes in the sale of various decorative items and toys,
                and I was able to contribute to their online success through the
                successful completion of this project.
              </p>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-wordpress-plain"></i>
              </div>
              <a
                href="https://lacabanedelsandre.fr/"
                target="_blank"
                class="text-second font-main text-xl hover:text-white ease-in-out duration-200 m-4 border border-main"
                ><i class="devicon-safari-line mr-4"></i>GO TO WEBSITE</a
              >
            </div>
            <div class="w-12/12 lg:w-6/12">
              <img
                src="@/assets/img/cabane.png"
                data-aos="zoom-out-up"
                data-aos-offset="-200"
                data-aos-easing="ease-in-sine"
                data-aos-duration="500"
              />
            </div>
          </div>
          <div class="divider w-full h-1 border-b-white"></div>

          <div class="flex flex-col lg:flex-row items-center">
            <div class="w-12/12 lg:w-7/12">
              <img
                src="@/assets/img/prams.png"
                data-aos="zoom-out-up"
                data-aos-offset="-200"
                data-aos-easing="ease-in-sine"
                data-aos-duration="500"
              />
            </div>
            <div
              class="w-12/12 lg:w-5/12 flex flex-col items-center justify-center"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                PRAM'S SHOWCASE WEBSITE
              </h2>
              <p class="font-main text-white text-lg text-justify my-8">
                This website serves as a showcase for my music group, "Pram's",
                where you can access our videos, photos, and information about
                our musicians/members. This group project was completed in
                collaboration with
                <a href="https://julienlp.com" target="_blank"
                  >Julien LE PECHEUR</a
                >
              </p>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-vuejs-plain"></i>
                <i class="devicon-gitlab-plain"></i>
                <i class="devicon-heroku-plain"></i>
              </div>
              <a
                href="https://prams.fr/"
                target="_blank"
                class="text-second font-main text-xl hover:text-white ease-in-out duration-200 m-4 border border-main"
                ><i class="devicon-safari-line mr-4"></i>GO TO WEBSITE</a
              >
            </div>
          </div>

          <div class="divider w-full h-1 border-b-white"></div>
          <div class="flex flex-col-reverse lg:flex-row items-center">
            <div
              class="w-12/12 lg:w-6/12 flex flex-col items-center justify-center lg:pl-24"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                SCHULLER DIGITAL GRAPHIC WEBSITE
              </h2>
              <p class="font-main text-white text-lg text-justify my-8">
                During my work-study program at Schuller Digital Graphic, I was
                given the opportunity to work on various websites, including the
                creation of a new website based on the agency's updated graphic
                charter. This project allowed me to gain experience with
                different design effects such as masks and slides.
              </p>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-wordpress-plain"></i>
                <i class="devicon-php-plain"></i>
                <i class="devicon-gitlab-plain"></i>
              </div>
              <a
                href="https://schuller-digital-graphic.fr/"
                target="_blank"
                class="text-second font-main text-xl hover:text-white ease-in-out duration-200 m-4 border border-main"
                ><i class="devicon-safari-line mr-4"></i>GO TO WEBSITE</a
              >
            </div>
            <div class="w-12/12 lg:w-6/12">
              <img
                src="@/assets/img/schuller.png"
                data-aos="zoom-out-up"
                data-aos-offset="-200"
                data-aos-easing="ease-in-sine"
                data-aos-duration="500"
              />
            </div>
          </div>
          <div class="divider w-full h-1 border-b-white"></div>

          <div class="flex flex-col lg:flex-row items-center">
            <div class="w-12/12 lg:w-7/12">
              <img
                src="@/assets/img/samdoc.png"
                data-aos="zoom-out-up"
                data-aos-offset="-200"
                data-aos-easing="ease-in-sine"
                data-aos-duration="500"
              />
            </div>
            <div
              class="w-12/12 lg:w-5/12 flex flex-col items-center justify-center"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                SAMDOC MEDICAL TECHNOLOGIES 'CIGAR'
              </h2>
              <span class="font-main text-white text-lg text-justify my-8">
                I completed the finalization and graphic redesign of a CDN
                manager using Git version control. This web project was built
                using traditional HTML5, CSS3, and JavaScript. Some of the tasks
                I performed included adding front/back functionality,
                redesigning the graphics, and implementing unit tests.
              </span>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-html5-plain"></i>
                <i class="devicon-css3-plain"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-nodejs-plain"></i>
                <i class="devicon-git-plain"></i>
              </div>
            </div>
          </div>

          <div class="divider w-full h-1 border-b-white"></div>
          <div class="flex flex-col-reverse lg:flex-row items-center">
            <div
              class="w-12/12 lg:w-6/12 flex flex-col items-center justify-center lg:pl-24"
              data-aos="fade-zoom-in"
              data-aos-easing="ease-in-sine"
              data-aos-duration="600"
            >
              <h2 class="text-3xl text-white font-bold font-main text-center">
                SHARE INSTRU
              </h2>
              <p class="font-main text-white text-lg text-justify my-8">
                This project was the project of my second year of DUT, it was
                realized in group. This website was a platform of exchange/loan
                of instrument from private individual to private individual
              </p>
              <div
                class="flex text-center text-3xl text-white justify-around items-center w-8/12 lg:w-5/12"
              >
                <i class="devicon-html5-plain"></i>
                <i class="devicon-css3-plain"></i>
                <i class="devicon-php-plain"></i>
                <i class="devicon-git-plain"></i>
              </div>
            </div>
            <div
              class="w-12/12 lg:w-6/12"
              data-aos="zoom-out-up"
              data-aos-offset="-200"
              data-aos-easing="ease-in-sine"
              data-aos-duration="500"
            >
              <img src="@/assets/img/sharinstru.png" />
            </div>
          </div>
        </div>
        <h2
          class="text-5xl text-center lg:text-left text-white font-bold font-main m-1 mb-8 lg:mt-0 mt-12"
        >
          My Experiences
        </h2>
        <div
          class="experiences w-full flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-12 items-center"
        >
          <div class="glass w-full lg:w-1/2 aspect-square p-4">
            <a href="https://botify.com" target="_blank">
              <h2
                class="text-3xl text-white font-bold font-main text-center h-24"
              >
                BOTIFY
              </h2>
              <img
                class="w-1/3 mx-auto rounded-lg mb-4"
                src="@/assets/img/botify.png"
              />
            </a>
            <div class="h-32 flex justify-between flex-col">
              <p class="text-center text-white font-main">
                Development and integration in React & Python for internal
                tools.
              </p>
              <p class="text-second font-main text-center">Since August 2022</p>
            </div>
          </div>
          <div class="glass w-full lg:w-1/2 aspect-square p-4">
            <a href="https://schuller-digital-graphic.fr" target="_blank">
              <h2
                class="text-3xl text-white font-bold font-main text-center h-24"
              >
                SCHULLER DIGITAL GRAPHIC
              </h2>
              <img
                class="w-1/3 mx-auto rounded-lg mb-4"
                src="@/assets/img/sdg.png"
              />
            </a>
            <div class="h-32 flex justify-between flex-col">
              <p class="text-white font-main text-center">
                Creation of WordPress websites - Setting up themes - Creating
                child theme - Deployment
              </p>
              <p class="text-second font-main text-center">
                August 2021 - July 2022
              </p>
            </div>
          </div>
          <div class="glass w-full lg:w-1/2 aspect-square p-4">
            <a href="https://samdoc.io" target="_blank">
              <h2
                class="text-3xl text-white font-bold font-main text-center h-24"
              >
                SAMDOC MEDICAL TECHNOLOGIES
              </h2>
              <img
                class="w-1/3 mx-auto rounded-lg mb-4"
                src="@/assets/img/samdocLogo.png"
              />
            </a>
            <div class="h-32 flex justify-between flex-col">
              <p class="text-white font-main text-center">
                I redesigned and developed the internal C.I.G.A.R. application.
                This included updating the user interface, adding new features,
                and optimizing the overall performance of the application
              </p>
              <p class="text-second font-main text-center">April - June 2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-main test w-screen h-screen fixed top-0 left-0">
      <div class="h-full w-full opacity-30" id="waves"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  data: function () {
    return {
      stacks: [
        {
          icon: "devicon-react-plain",
          name: "React",
        },
        {
          icon: "devicon-nuxtjs-plain",
          name: "NuxtJS",
        },
        {
          icon: "devicon-nodejs-plain",
          name: "NodeJS",
        },
        {
          icon: "devicon-vuejs-plain",
          name: "VueJS",
        },
        {
          icon: "devicon-tailwindcss-plain",
          name: "TailwindCSS",
        },
        {
          icon: "devicon-javascript-plain",
          name: "Javascript",
        },
        {
          icon: "devicon-html5-plain",
          name: "HTML",
        },
        {
          icon: "devicon-css3-plain",
          name: "CSS",
        },
        {
          icon: "devicon-mongodb-plain",
          name: "MongoDB",
        },
      ],
      otherStack: [
        {
          icon: "devicon-sass-plain",
          name: "SASS",
        },
        {
          icon: "devicon-swift-plain",
          name: "SwiftUI",
        },
        {
          icon: "devicon-flutter-plain",
          name: "Flutter",
        },
        {
          icon: "devicon-php-plain",
          name: "PHP",
        },
        {
          icon: "devicon-wordpress-plain",
          name: "Wordpress",
        },
        {
          icon: "devicon-vuetify-plain",
          name: "Vuetify",
        },
        {
          icon: "devicon-typescript-plain",
          name: "Typescript",
        },
        {
          icon: "devicon-java-plain",
          name: "Java",
        },
        {
          icon: "devicon-symfony-plain",
          name: "Symfony",
        },
      ],
      toolbox: [
        {
          icon: "devicon-apple-original",
          name: "MacOS / iOS",
        },
        {
          icon: "devicon-express-original",
          name: "Express",
        },
        {
          icon: "devicon-gitlab-plain",
          name: "Gitlab",
        },
        {
          icon: "devicon-heroku-original",
          name: "Heroku",
        },
        {
          icon: "devicon-ionic-original",
          name: "Ionic",
        },
        {
          icon: "devicon-mysql-plain",
          name: "MySQL",
        },
        {
          icon: "devicon-npm-original-wordmark",
          name: "NPM",
        },
        {
          icon: "devicon-docker-plain",
          name: "Docker",
        },
        {
          icon: "devicon-photoshop-plain",
          name: "Adobe Suite",
        },
      ],
    };
  },
  mounted() {
    VANTA.TRUNK({
      el: "#waves",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.0,
      minWidth: 200.0,
      scale: 1.0,
      scaleMobile: 1.0,
      spacing: 10.0,
      color: 0x3c3fbb,
      backgroundColor: 0x101010,
      chaos: 10.0,
    });
  },
};
</script>

<style>
.bg-main {
  z-index: -1;
}
.background {
  z-index: 0;
  filter: blur(100px);
}
.main {
  max-width: 100vw;
  overflow: hidden;
  z-index: 10000 !important;
}

#wave {
  opacity: 0.8;
}
.circle {
  border-radius: 1000px;
  position: absolute;
}

.red {
  width: 800px;
  height: 800px;
  right: 150px;
  top: -400px;
  background: #109d9d;
  opacity: 1;
  animation: cyan 40s ease-in-out infinite;
}
.blue {
  width: 600px;
  height: 600px;
  right: 150px;
  top: 50px;
  background: #2525ab;
  animation: blue 30s ease-in-out infinite;
}
.green {
  width: 450px;
  height: 450px;
  right: 500px;
  top: 300px;
  background: purple;
  animation: purple 25s ease-in-out infinite;
}

.glass {
  background: rgba(100, 100, 100, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.18);
  margin: 0 auto;
}
.border-main:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.border-main {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 80px;
}
.projects > .flex.items-center {
  min-height: 600px;
}
@media (max-width: 800px) {
  .projects > .flex.items-center {
    margin: 50px 0px;
  }
  .projects > .flex.items-center:first-child {
    margin-top: 0px;
  }
  .projects > .flex.items-center:last-child {
    margin-bottom: 0px;
  }
}
a:hover {
  cursor: pointer;
}

@-webkit-keyframes cyan {
  0% {
    transform: translate(0, 0);
    right: 450px;
    top: -400px;
  }
  25% {
    right: 850px;
    top: -300px;
  }
  50% {
    right: 50px;
    top: 200px;
  }
  75% {
    right: 650px;
    top: 300px;
  }
  100% {
    right: 450px;
    top: -400px;
  }
}

@-webkit-keyframes purple {
  0% {
    top: 20px;
    right: 600px;
  }
  25% {
    top: 300px;
    right: 300px;
  }
  50% {
    top: 200px;
    right: 600px;
  }
  75% {
    top: 100px;
    right: 500px;
  }
  100% {
    top: 20px;
    right: 600px;
  }
}

@-webkit-keyframes blue {
  0% {
    right: 500px;
    top: 300px;
  }
  25% {
    right: 1000px;
    top: 400px;
  }
  50% {
    right: 700px;
    top: 700px;
  }
  75% {
    top: 100px;
    right: 100px;
  }
  100% {
    right: 500px;
    top: 300px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>
